{% extends 'main/masterpage.html' %}

{% load staticfiles %}

{% block content %}

<body id="page-top">

<!-- by extending master page, don't need to include all of the doctype, header, meta, script lines etc -->

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <!--<a class="navbar-brand mr-1" href="\">{{name}}</a>-->

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i id="sidebartoggleicon" class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="SRPrightheader">EPA Data Analyzer for U.S. Air Pollution</div>

    </div>
    </div>

    <ul class="navbar-nav ml-auto ml-md-0">

    </ul>

</nav>


<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <!--<li class="nav-item dropdown">
             may not be necessary to have  dropdown item
        </li>-->


        <li class="nav-item active">
            <a class="nav-link linkmousehover" onclick="showtableview();">
                <i class="fas fa-fw fa-table"></i>
                <span>EPA Data Table</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link linkmousehover" onclick="showmapview();" >
                <i class="fas fa-fw fa-map"></i>
                <span>Interactive Map</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link linkmousehover" onclick="showrankingview();">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Ranking Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link linkmousehover" onclick="showaboutview();">
                <i class="fas fa-fw fa-book-open"></i>
                <span>About</span>
            </a>
        </li>


    </ul>

    <script>

        function showtableview(){
            $('#myCarousel').trigger('to.owl.carousel', 0);
        }
        function showmapview(){
            $('#myCarousel').trigger('to.owl.carousel', 1);
        }

        function showrankingview(){
            $('#myCarousel').trigger('to.owl.carousel', 2);
        }

        function showaboutview(){
            ('#myCarousel').trigger('to.owl.carousel', 3);
        }


    </script>

    <div id="content-wrapper">
     <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Overview</li>
                    </ol>


        <script>
            $(document).ready(function () {

                // Toggle the side navigation
                  $("#sidebarToggle").on('click', function(e) {
                    console.log('executing.');
                    e.preventDefault();
                    $("body").toggleClass("sidebar-toggled");
                    $(".sidebar").toggleClass("toggled");
                    $("#sidebartoggleicon").toggleClass('fa-bars fa-plus');

                  });

                $('.owl-carousel').owlCarousel({
                    loop: true,
                    nav: true,
                    items: 1,
                    stagePadding: 7,
                    margin: 7,
                    mouseDrag: true,
                    pagination: true
                });
            });
        </script>
        <div id="myCarousel" class="owl-carousel owl-theme">


            <div  class="item">
                <div class="container-fluid">
                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header" style="text-align:center;">
                            <i class="fas fa-chart-bar"></i>
                            U.S. Air Pollution Data
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th style="vertical-align: middle; text-align:center;" rowspan="2">Metro Area</th>
                                        <th style="text-align:center">Pollutant</th>
                                        <th style="vertical-align: middle; text-align:center;" rowspan="2">Units of Measurement </th>
                                        <th style="vertical-align: middle; text-align:center;" rowspan="2"><a
                                                href="https://www.epa.gov/sites/production/files/2014-05/documents/zell-aqi.pdf"
                                                target="_blank">Arithmetic Mean</a></th>
                                        <th style="vertical-align: middle; text-align:center;" rowspan="2">Year</th>

                                    </tr>
                                    </thead>

                                    <tbody>

                                    {% for year,row in allyears.items %}
                                    <tr>
                                        <td style="text-align:center;" colspan="5">{{ year }}</td>
                                    </tr>
                                        {% for datarecord in row %}

                                            <tr>
                                                <td>
                                                    {{ datarecord.cbsa_name}}
                                                </td>
                                                <td>
                                                    {{ datarecord.parameter_name }}
                                                </td>
                                                <td>
                                                    {{ datarecord.units_of_measure }}
                                                </td>
                                                <td>
                                                    {{ datarecord.arithmetic_mean }}
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    <!-- embed data from views.py context here -->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- get time of most recent scheduled visit -->
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
            </div>
            <div class="item" style="height:850px;">
                <div style="width:100%; height: 30px;"><h4>Interactive Air Quality Map (Based on EPA data)</h4></div>
                <iframe style="height:100%; width: 100%;"
                        src="https://epa.maps.arcgis.com/apps/webappviewer/index.html?id=5f239fd3e72f424f98ef3d5def547eb5&extent=-146.2334,13.1913,-46.3896,56.5319"></iframe>
            </div>

            <div class="item">
                <div id="header_general_ranking" class="genRankingHeader">Air Pollution Rankings</div>
                <hr style="width: 75%; border: 2px solid #8cc63f"/>

            </div>

            <div class="item">
                <div class="genRankingHeader">About</div>
                <div style="text-align:center; width:30%; margin:0 auto; ">
                    <hr style="margin:0 auto; border:.5px solid lightgrey; margin:1px; width: 100%;"/>
                    <div style="color:lightgrey; font-size:17px;">Booz Allen Hamilton Hackathon 2019</div>
                <hr style="margin: 0 auto; border:.5px solid lightgrey; margin:1px; width: 100%;"/>

                </div>
                <div id="about" class="aboutinfo">
                    <ul class="greenlist">
                        <li>Cities and urban areas = hubs for <span class="orange">ideas, culture, business, commerce</span></li>
                        <li>Population of cities estimated to rise <span class="orange">five billion by 2030</span>&rarr;
                            immediate demand for <span class="orange">sustainable</span> practice</li>
                        <li>Air pollution = invisible killer = global health issue</li>
                        <li><a href="https://www.who.int/" target="_blank">WHO </a>says:
                            combined <span class="orange">8 million deaths</span> result <span class="orange">every year</span>
                            from the exposure to outdoor and household pollution</li>
                        <li><span class="orange">Goal 11.6</span> of UN Sustainable Development Goals: reduce adverse per capita environmental impact of cities by 2030</li>
                        <li>Special attention to <span class="orange">air quality</span></li>
                        <li><span class="orange">OUR goal</span>: align with Goal 11.6, provide informative insights on air pollution status within US</li>
                    </ul>
                </div>
            </div>

        </div>
        <div style="text-align:center;">Navigate between Views</div>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" onclick="logout();">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>


{% endblock %}
